@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}



.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    color: white;
}

body {
    background-color: #D9D0C7;
}


#txtUserLogged {
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 25spx;
    cursor: pointer;
}


#bK {
    margin: auto;
    width: 1000px;
    display: flex;
    border-radius: 10px;
}

#adicionar {
    background-color: #ffa812;
    font-family: archivoBlack;
    border: 2px solid white;
    border-radius: 15px;
}


.card {
    margin: auto;
    margin-top: 40px;
    margin-right: 30px;
    color: white;
    border: 0px solid #73574D;
    background-color: #73574D;
    border-radius: 22px;
}

.card-title {
    font-family: archivoBlack;
    font-size: 18px;
}


#txtUserLogged {
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 20px;
}




.card:hover, .btn:hover{
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;

}

#userAvatar {
    border: 1.5px solid white;
    border-radius: 15px;
}

#userAvatar:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}



