@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

h1 {
    font-family: archivoBlack;
    margin-left: 400px;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    color: white;

}

body {
    background-color: #D9D0C7;
}

#pageNameCenter {
    font-family: archivoBlack;
    color: white;
    margin-left: 300px;
}



#txtUserLogged {
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 25spx;
    cursor: pointer;
}


@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;

}



.input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 30px;
    margin-block-end: 40px;
    color: white;
    border: 7px solid #73574D;
    background-color: #73574D;

}


#txtUserLogged {
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 25spx;
}

#sideMenu {
    margin-top: 95px;
    background-color: transparent;
    font-family: archivoBlack;
}

#userAvatar {
    border: 1.5px solid white;
    border-radius: 15px;
}

.btn:hover, #userAvatar:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.btn{
    background-color: #ffa812;
    font-family: archivoBlack;
}