@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    color: white;
    
}



#pageNameCenter {
    font-family: archivoBlack;
    color: white;
}

#xpBar {
    background-color: red;
}

.imgButton {
    width: 60%;
    height: auto;
}

#videoContainer{
    background-color: #ffa812;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #ffa812;
    border-radius: 10px;
}

#topMenu{
    display: flex;
    justify-content:center;
    padding-left: 100px;
    
      
}

#banner{
    width: 140px;
    height: 210px;
    margin-right: 100px;

  
}

.d-inline-block:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }