@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

@font-face {
    font-family: "fredoka";
    src: url("../fonts/FredokaOne-Regular.ttf")
}

h1 {
    font-family: fredoka;
    margin-left: 400px;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    color: white;

}

body {
    background-color: #D5F8FF;
}


#userAvatar{
    border: 1.5px solid white;
    border-radius: 15px;
}
#userAvatar:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}


#welcome {
    margin-top: 40px;
    margin-left: 280px;
    font-size: 44px;
    color: #025e84;
}

#pageNameCenter {
    font-family: fredoka;
    color: white;
}

#xpBar {
    background-color: red;
}

.imgButton {
    width: 60%;
    height: auto;
}

#sugCard{
    align-content: center;
    margin-left: 550px;
    margin-bottom: 150px;
}
#startGame{
    background-image: url("../img/BkgPlay.jpg");
    background-repeat: no-repeat;
    background-size: 60rem 35rem;
    border: 7px solid #025e84;
    border-radius: 30px;
}

#videoContainer {
    background-color: #ffa812;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #ffa812;
    border-radius: 10px;
}

#topMenu {
    display: flex;
    justify-content: center;
    padding-left: 100px;


}

#banner {
    width: 130px;
    height: 170px;
    margin-right: 90px;
}

.d-inline-block:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

#txtUserLogged {
    font-family: fredoka;
    margin-left: 10px;
    font-size: 25spx;
}

#podium {
    width: 300px;
    margin-bottom: 190px;
    margin-top: -100px;
    
    
    
}
.card{
    background-color: #025e84;
    color: white;
    font-family: fredoka;
}



.card-text{

    font-family: fredoka;
}

#sugestions{
    background-color: #ffa812;
    height: 60px;
    width: 340px;
    margin-left: 46px;
    margin-top: 16px;
    font-size: 30px;

}

#sugTitle{
    margin-left: 16px;
}

#sugCont{
    display: flex;
    justify-content: center;
}
#podium{
    margin-top:50px;
    width: 1000px;
    height: 1200px;
    
    color:black;
    border-radius: 5px;
}
#podTitle{
    
    font-size: 30px;
}
#winner{
    margin: auto;
    
    width: 320px;
    border: 7px solid #ffa812;
    border-radius: 30px;
    
}
#second{
    margin: auto;
    
    width: 320px;
    border: 7px solid silver;
    margin-left: 165px;
    
}
#third{
    margin: auto;
    border: 7px solid #AC7E68;
    width: 300px;
    height: 237px;
    margin-right: 165px;
    margin-top: -237px;
    
}
.score{
    font-size: 20px;
}
#stImg{
    border: 5px solid #ffa812;
    border-radius: 20px;
}
