@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/fredoka-Regular.ttf")
}

@font-face {
    font-family: "fredoka";
    src: url("../fonts/FredokaOne-Regular.ttf")
}

#cardTitle,
#currentLvl {
    background-color: #7f00c0;
    color: white;
}

#currentTitle {
    background-color: #7f00c0;
    color: white;
}

#cardTitle {
    font-size: 40px;
}

.row {
    margin-left: 200px;
}

#profileContainer {
    background-color: #7f00c0;
    width: 100%;
    height: 550px;
    border: 5px solid #7f00c0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: fredoka;
    font-size: 16px;
    height: 400px;
    background-color: white;
    border: 5px solid #7f00c0;
    border-radius: 20px;
}

#xpScoreContainer {
    height: 280px;
    width: 750px;
    background-color: white;
    border: 5px solid #7f00c0;
    border-radius: 20px;
    margin-left: 32px;
    border: 5px solid #7f00c0;
    border-radius: 20px;
}

#infoProfile {
    height: 250px;
    background-color: white;
    margin-top: 20px;
    margin-left: 32px;
    border: 5px solid #7f00c0;
    border-radius: 20px;
    width: 750px;
}

#txtUserLogged {
    font-family: fredoka;
    margin-left: 10px;
    font-size: 25spx;
    cursor: pointer;
}

#cardImg {
    height: auto;
    width: 250px;
    border: 5px solid white;
    border-radius: 50px;
}

#sideMenu {
    margin-top: 95px;
    background-color: transparent;
}

#pageNameCenter {
    margin: auto;
}

.progress {
    height: 30px;
    border: 2px solid #7f00c0;
    margin-bottom: 20px;
    margin-top: 30px;
}

.details {
    width: 90px;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
}

#label {
    margin-left: 6px;
    margin-top: 5px;
}

#switchPass {
    background-color: #ffa812;
    z-index: 10;
    height: 30px;
    width: 80px;
    color: black;
    margin-left: 10px;
    margin-top: -4px;
}

#userAvatar {
    border: 1.5px solid white;
    border-radius: 15px;
}

#xpTxt {
    background-color: #7f00c0;
    border-top: 5px solid #7f00c0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -33.5px;
    margin-top: -1px;
    width: 110%;
    text-align: center;
    color: white;
    color: white;
    font-family: fredoka;
    font-size: 30px;
}

#scoreTxt {
    background-color: #7f00c0;
    margin-left: -33.5px;
    margin-top: -1px;
    width: 110%;
    text-align: center;
    color: white;
    color: white;
    font-family: fredoka;
    font-size: 30px;
}

#defTxt {
    background-color: #7f00c0;
    border: 5px solid #7f00c0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -1px;
    margin-left: -20px;
    width: 105.5%;
    text-align: center;
    color: white;
    font-family: fredoka;
    font-size: 30px;
}

#scoreContainer {
    border: 15px solid #7f00c0;
    border-radius: 20px;
    height: 100px;
    width: 520px;
}
#scoreContainer2 {
    border: 10px solid #ffa812;
    border-radius: 20px;
    margin-top: -5px;
    margin-left: -20px;
    width: 500px;
    height: 80px;
    z-index: 100;
}

#scoreLabel {
    margin-top: 10px;
    margin-left: 120px;
    width: 200%;
    color: black;
    font-family: fredoka;
    font-size: 30px;
}

#userAvatar:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}