#cardTitle{
    margin-left: 80px;
    margin-right: 40px;
    background-color: #c8c8c8;
}
.jumbotron1{
    background-color:#c8c8c8;
    width: 40%;
}
#xpContainer{
    width: 70%;
    padding-top: 200px;
    padding-left: 150px;

}
#cardImg{
    margin-top: 10px;
    padding-bottom: 900px;
}
.container{
    display: flex;   
}
.jumbotron + .jumbotron{
    margin: 0 0 0 8px;
}
.jb2{
    height: 420px;
}
