@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

#cardTitle,#currentLvl{
    
    background-color: #7f00c0;
    color: white;    
}
#cardTitle{
    font-size: 40px;
}
.jb1{
    background-color:#7f00c0;
    width: 40%;
}
#cardImg{
    margin-top: 10px;
}
.container{
    display: flex;   
}
.container2{
    display: flex;
}

.jumbotron + .jumbotron{
    margin: 0 0 0 8px;
    background-color: white;
}
.jb2{
    
    height: 360px;
    background-color: white;
    border: 5px solid #7f00c0;
}
#jb2{
    margin-left: 32px;
    border: 5px solid #7f00c0;
}
.jb3{
    height: 540px;  
    background-color: white;
    margin-top: -40px;
    z-index: -1;
    border: 5px solid #7f00c0;
} 
.jb4{
    margin-left: 400px;
   margin-top: -700px;
    height:668px;
    background-color: white;
    border: 5px solid #7f00c0;
}

.pontos{
    width: 100%;
    background-color: white;
    border-block-start-color: black;
}
#sideMenu{
    margin-top: 95px;
    background-color: #D5F8FF;
}
#pageNameCenter{
    padding-right: 350px;
}
#labelLvl{
    
    font-size: 23px;
    color: white;
}

.progress{
    height: 30px;
    border: 2px solid #7f00c0;
    margin-bottom: 20px;
    margin-top: 10px;


}

#xpContainer{
    margin-top: -30px;
}

