#cardTitle,#currentLvl{
    
    background-color: #7f00c0;
    color: white;    
}
.jb1{
    background-color:#7f00c0;
    width: 40%;
}
#cardImg{
    margin-top: 10px;
    padding-bottom: 900px;
}
.container{
    display: flex;   
}
.container1{
    display: flex;
}

.jumbotron + .jumbotron{
    margin: 0 0 0 8px;
}
.jb2{
    height: 529px;
}
.jb3{
    height: 500px;  
     
} 
.jb4{
    height:500px;
}

.pontos{
    width: 100%;
    background-color: white;
    border-block-start-color: black;
}
#sideMenu{
    margin-top: 95px;
    background-color: #D5F8FF;
}
