body {
    font-family: archivoBlack;
}

#sideMenu {
    margin-top: 95px;
    background-color: #D5F8FF;

}

.container-fluid {
    margin: 25px auto;
    background-color: white;
    height: 600px;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

#pageNameCenter {
    margin-right: 350px;
}

#startQuiz {
    font-size: 3em;
    font-weight: bolder;
    word-break: break-all;
    width: 280px;
    height: 145px;
    border: 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 310px;
    top: 200px;
    color: lightgrey;
}

#startQuiz:hover {
    border: 3px solid #0aac20;
    color: #0aac20;
}

@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

#questionImg {
    width: 50%;
    margin: auto;
    left: 0px;
}

#questionImg img{
    width : auto;
    height : 300px;
    margin-top: 50px;
    border-radius: 5px;
    border: 7px solid #0aac20;
}

#question {
    width : 70%;
    height: 125px;
    margin: 0 auto 0 auto;
}

#question p {
    width: 95%;
    padding: 10px;
    font-size: 1em;
}