@font-face {
    font-family: "fredoka";
    src: url("../fonts/FredokaOne-Regular.ttf")
}

#sideMenu {
    margin-top: 95px;
    background-color: transparent;
}

.container-fluid {
    /*background color: white definida no html */
    margin: 25px auto;
    height: 600px;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px;
    position: relative;
}

.container-fluid-left-side {
    margin: 25px 70px;
    background-color: white;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px;
    position: absolute;
}

.container-fluid-secondLeft-side {
    margin: 250px 70px;
    background-color: white;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px;
    position: absolute;
}

.container-fluid-secondLeft-side-news {
    margin: 250px 70px;
    background-color: white;
    height: 160px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px;
    position: absolute;
}

#newMonLabel {
    font-family: "fredoka";
    color: black;
    font-size: 18px;
    margin: -10px 12px;
    cursor: pointer;
}

#alignContainers {
    display: inline;
}

#pageNameCenter {
    margin:auto;
    font-family: "fredoka";
}

#startQuiz {
    font-size: 3em;
    font-weight: bolder;
    word-break: break-all;
    width: 400px;
    height: auto;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 240px;
    top: 140px;
    color: lightgrey;
}

#startQuiz:hover {
    -ms-transform: scale(1.8);
    /* IE 9 */
    -webkit-transform: scale(1.8);
    /* Safari 3-8 */
    transform: scale(1.8);

    transition: 1.5s;

}

#choiceA:hover,
#choiceB:hover,
#choiceC:hover,
#choiceD:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);

}

#startQuiz:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 0.5s;


}

#endQuiz {
    font-size: 3em;
    font-weight: bolder;
    word-break: break-all;
    width: 350px;
    height: auto;
    text-align: center;
    position: absolute;
    left: 260px;
    top: 10px;
    color: lightgrey;
    border-radius: 1100px;
}

#newLvl {
    width: auto;
    height: 250px;
    margin-top: 350px;
    margin-left: 20px;
}

#endScore {
    font-size: 3em;
    font-weight: bolder;
    word-break: break-all;
    width: 400px;
    height: auto;
    text-align: center;
    position: absolute;
    left: 240px;
    top: 350px;
    color: #0aac20;
    font-family: fredoka;
}

#endLabel {
    font-size: 4em;
    font-weight: bolder;
    word-break: break-all;
    width: 500px;
    height: auto;
    text-align: center;
    position: absolute;
    left: 200px;
    top: 450px;
    color: #eb2020;
    font-family: fredoka;
}

@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

#questionImg {
    width: 50%;
    margin: auto;
    left: 0px;
}

#questionImg img {
    width: auto;
    height: 300px;
    margin-top: 20px;
    border-radius: 5px;
    border: 7px solid #0aac20;
}

#question {
    width: 70%;
    height: 125px;
    margin: 0 auto 0 auto;
    margin-bottom: -50px;
}

#question p {
    width: 95%;
    padding: 10px;
    font-size: 26px;
    margin: auto;
    
    
    
}

.choice {
    display: inline-block;
    width: 135px;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    padding: 5px;
}

.btn-group .choice {
    background-color: #EBFEED;
    border: 2px solid #0aac20;
    padding: 10px 24px;
    color: black;
    cursor: pointer;
    float: left;
    text-decoration: none;

}

.btn-group .choiceLetter {
    background-color: #0aac20;
    border: 1px solid #0aac20;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    text-decoration: none;
    
}


.row {
    margin-top: 20px;
}

.col {
    margin-left: 20px;
}

#options {
    margin-left: 200px;
    font-family: fredoka;
}

#cD {
    padding-top: 15px;
}
#cD, #aB{
    font-size: 15px;
}

#txtUserLogged {
    font-family: fredoka;
    margin-left: 10px;
    font-size: 25spx;
    cursor: pointer;
}

#timer {
    position: absolute;
    height: 100px;
    width: 200px;
    bottom: 0px;
    text-align: center;
}

#counter {
    font-size: 2em;
    margin-left: -10px;
    margin-top: 10px;
    font-family: fredoka;
}

#barTime {
    width: 110px;
    height: 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left: 40px;
}

#barFilling {
    height: 10px;
    width: 110px;
    border-radius: 10px;
    background-color: red;
    margin-top: -10px;
    margin-left: 40px;
}

#timerIcon {
    margin: 10px 75px;
    width: 40px;
    height: auto;
}

#textLevel {
    margin: 10px 53px;
    font-family: fredoka;
    font-size: 30px
}

#quizLevel {
    margin: 10px 80px;
    margin-top: -15px;
    font-family: fredoka;
    font-size: 50px;
    color: #0aac20;
}

#restartImg {
    margin: -2px 20px;
    width: 150px;
    height: auto;
}

#maxLevel {
    width: 800px;
    height: auto;
    text-align: center;
    position: absolute;
    left: 50px;
    top: 50px;
}

#newMonImg {
    margin: 0px 30px;
    width: 150px;
    height: auto;
}

#userAvatar {
    border: 1.5px solid white;
    border-radius: 15px;
}

#userAvatar:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

/* alert box */
#box {
    width: 500px;
    height: 250px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 5px black;
    border-radius: 8px;
    border: 2px solid #ffa812;
    margin: auto;
    padding: 10px;
    text-align: center;
    z-index: 999;
    transform: translate(0%, 40%);
}

#box h1 {
    font-family: "fredoka";
    color: black;
    margin: auto;
    margin-top: 10px;
    font-size: 40px;
}

.close {
    color: black;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #ffa812;
    margin-top: 20px;
    margin-right: 157px;
    font-family: "fredoka";
    font-size: 20px;
}