#sideMenu {
    margin-top: 95px;
    background-color: #D5F8FF;

}

.container-fluid {
    padding: 100px 40px;
    margin-top: 30px;
    margin-left: 60px;
    width: 88%;
}

.bg-grey {
    background-color: #c8c8c8;
}