#sideMenu {
    margin-top: 95px;
    background-color: transparent;  
    font-family: archivoBlack;
}

.container-fluid {
    margin: 25px auto;
    background-color: white;
    height: 600px;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px;
    position: relative;
}

.container-fluid-left-side {
    margin: 25px 70px;
    background-color: white;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px;
    position: absolute;
}

.container-fluid-secondLeft-side {
    margin: 250px 70px;
    background-color: white;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px;
    position: absolute;
}

#alignContainers {
    display: inline;
}

#pageNameCenter {
    margin-right: 350px;
    font-family: archivoBlack;
}

#startQuiz {
    font-size: 3em;
    font-weight: bolder;
    word-break: break-all;
    width: 280px;
    height: 145px;
    border: 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 310px;
    top: 200px;
    color: lightgrey;
}

#startQuiz:hover {
    border: 3px solid #0aac20;
    color: #0aac20;
}

@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

#questionImg {
    width: 50%;
    margin: auto;
    left: 0px;
}

#questionImg img {
    width: auto;
    height: 300px;
    margin-top: 20px;
    border-radius: 5px;
    border: 7px solid #0aac20;
}

#question {
    width: 70%;
    height: 125px;
    margin: 0 auto 0 auto;
    margin-bottom: -50px;
}

#question p {
    width: 95%;
    padding: 10px;
    font-size: 1em
}

.choice {
    display: inline-block;
    width: 135px;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    padding: 5px;
}

.btn-group .choice {
    background-color: #EBFEED;
    border: 2px solid #0aac20;
    padding: 10px 24px;
    color: black;
    cursor: pointer;
    float: left;
    text-decoration: none;

}

.btn-group .choiceLetter {
    background-color: #0aac20;
    border: 1px solid #0aac20;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    text-decoration: none;
}

.row {
    margin-top: 20px;
}

.col {
    margin-left: 20px;
}

#options {
    margin-left: 200px;
    font-family: archivoBlack;
}

#cD {
    padding-top: 15px;
}

#txtUserLogged {
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 25spx;
}

#timer {
    position: absolute;
    height: 100px;
    width: 200px;
    bottom: 0px;
    text-align: center;
}

#counter {
    font-size: 2em;
    margin-left: -10px;
    margin-top: 10px;
    font-family: archivoBlack;
}

#barTime {
    width: 100px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
    margin-left: 35px;
}

#barFilling {
    height: 10px;
    width: 130px;
    border-radius: 10px;
    background-color: lightgray;
    margin-top: -10px;
    margin-left: 34px;
}

#timerIcon {
    margin: 10px 75px;
    width: 40px;
    height: auto;
}

#textLevel {
    margin: 10px 53px;
    font-family: archivoBlack;
    font-size: 30px
}

#quizLevel {
    margin: 10px 80px;
    margin-top: -15px;
    font-family: archivoBlack;
    font-size: 50px;
    color: #0aac20;
}