h1 {
    font-family: archivoBlack;
    margin-left: 400px;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    color: white;

}

body {
    background-color: #D9D0C7;
}

#pageNameCenter {
    font-family: archivoBlack;
    color: white;
    margin-left: 250px;
}


@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}




#txtUserLogged {
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

#sideMenu {
    margin-top: 95px;
    background-color: transparent;
    font-family: archivoBlack;
}

.container {
    margin-top: 100px;
    margin-left: 200px;
}

.refuse {
    background-color: red;
    color: white;

}

.accept {
    background-color: green;
    color: white;

}

#userAvatar {
    border: 1.5px solid white;
    border-radius: 15px;
}

#userAvatar:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.card-footer, .card-header{
    background-color: #73574D;
}

.card{
    border: 5px solid #73574D;
    border-radius: 10px;
}

.card-body{
    background-color: white;
}

