
@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

#pageNameCenter{
    margin-right: 340px;
}

#bK{
    margin-left: 250px;
    margin-top: 80px;
    background-color: white;
    width: 1000px;
    border: 10px solid #eb2020;
    border-radius: 10px;
}

.card{
    margin-left:87px;
    margin-top: 40px;
    margin-block-end: 40px;
}

.card-title{
    font-size: 15px;
}

#sideMenu{
    margin-top: 95px;
    background-color: #D5F8FF;

}

#txtUserLogged{
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 25spx;
}
