
@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}

#pageNameCenter{
    margin-right: 400px;
}

#bK{
    margin-left: 250px;
    margin-top: 80px;
    background-color: white;
    width: 1000px;
    border: 10px solid #eb2020;
    border-radius: 10px;
    margin-bottom: 100px;
}

.card{
    margin-left:87px;
    margin-top: 40px;
    margin-block-end: 40px;
    border: 3px solid #eb2020;
    color: black;
    background-color: white;

    font-family: archivoBlack;
}

.card-title{
    font-size: 15px;
}

#sideMenu{
    margin-top: 95px;
    background-color: transparent;  

}

#txtUserLogged{
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 25spx;
}

#xpBar{
    background-color: #ffa812;
    color: black;
}

.btn{
    background-color: #ffa812;
}