@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf")
}


.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    color: white;
}

body {
    background-color: #D9D0C7;
}


form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    font-family: archivoBlack;
    background-color: #ffa812
}


.card {
    margin-top: 80px;
    color: white;
    border: 7px solid #73574D;
    background-color: #73574D;
}

#userList {
    margin-top: 80px;
    background-color: #73574D;
    color: white;
    border: 7px solid #73574D;
    margin-left: 50px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    font-size: 20px;
}


.botao {
    margin-left: 10px;
    background-color: #ffa812;
    font-size: 16px;
    font-family: archivoBlack;
}

.butao:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

#txtUserLogged {
    font-family: archivoBlack;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

#userAvatar {
    border: 1.5px solid white;
    border-radius: 15px;
}

#userAvatar:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}